@import url("https://fonts.googleapis.com/css2?family=Paytone+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;600;800;900&display=swap");
*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
  background-color: #f5f5f6;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

.app__page-title {
  font-family: "Paytone One", sans-serif;
  color: #cc0000;
  font-size: 5rem;
  margin-bottom: 0;
  margin-top: 3.35rem;
}

.app__subheading {
  margin-top: 0;
  margin-bottom: 2.5rem;
  color: rgba(15, 15, 15, 0.4);
  font-family: "Raleway", sans-serif;
  font-size: 1.65rem;
}

.settings {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: "Raleway", sans-serif;
}

.settings__form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
}

.settings__link-input {
  height: 3rem;
  min-width: 35rem;
  border-radius: 50rem;
  border: 0.1rem solid rgba(15, 15, 15, 0.1);
  padding-left: 1rem;
  background-color: #fff !important;
  font-family: inherit;
}

.settings__search-button {
  margin-top: 2em;
  background-color: #36B359;
  color: #fff;
  padding: .75rem 1.25rem;
  border: none;
  border-radius: .5rem;
  cursor: pointer;
  font-size: 1.5rem;
}

.display {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
  width: 100vw;
}

.display .videotitle {
  font-size: 1.5rem;
  font-weight: 600;
}

.display__title-stats {
  margin-bottom: 2rem;
}

.display__title-name {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
  font-family: "Open Sans", sans-serif;
  letter-spacing: .02rem;
  font-weight: 900;
  text-align: center;
  max-width: 50rem;
  margin-left: 5vw;
  margin-right: 5vw;
}

.comments {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 95%;
  flex-wrap: wrap;
  margin-bottom: 10rem;
}

@media only screen and (min-width: 1100px) {
  .comments {
    width: 90%;
    margin-bottom: 5rem;
  }
}

@media only screen and (min-width: 1400px) {
  .comments {
    width: 70%;
    margin-bottom: 5rem;
  }
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
  background-color: #fff;
  min-height: 20rem;
  justify-content: space-between;
  border-radius: 1.5rem;
  padding: 1.5rem;
  margin-bottom: 2vh;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  transition: all .1s;
}

@media only screen and (min-width: 1100px) {
  .card {
    margin-left: 1vw;
    margin-right: 1vw;
    flex: 1 1 0;
  }
}

.card:hover {
  transform: scale(1.001) translateY(-0.05em);
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.25);
}

.card__heading {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  line-height: 3rem;
}

.card__sentiment {
  font-size: 1.65rem;
  letter-spacing: .05rem;
  font-weight: 800;
  font-family: "Open Sans", sans-serif;
}

.card__heading {
  font-size: 1.65rem;
  font-weight: 600;
}

.card__title {
  font-size: 1.65rem;
  font-weight: 600;
}

.card__comment {
  font-family: "Open Sans", sans-serif;
  letter-spacing: .1rem;
  font-size: 2rem;
  margin-top: 2vh;
  margin-bottom: 2vh;
  font-weight: 200;
}

.card__average-sentiment {
  font-family: "Open Sans", sans-serif;
  letter-spacing: .1rem;
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 200;
}

.card__comment-likes {
  color: #8f8f8f;
  font-size: 1.5rem;
}

.infinite-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 95%;
  align-items: center;
  justify-content: space-between;
  border-radius: 1.5rem;
}

@media only screen and (min-width: 1100px) {
  .infinite-wrapper {
    width: calc(90% - 2vw);
    flex-direction: row;
  }
}

@media only screen and (min-width: 1400px) {
  .infinite-wrapper {
    width: calc(70% - 2vw);
  }
}

.infinite-scroll {
  width: 100%;
  max-height: 70vh;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #fff;
  border-radius: 1.5rem;
  margin-bottom: 10rem;
  box-shadow: 0 2px 1px -1px rgba(15, 15, 15, 0.2), 0 1px 1px 0 rgba(15, 15, 15, 0.14), 0 1px 3px 0 rgba(15, 15, 15, 0.12);
  text-align: center;
  flex: 1 1 0;
  transition: all .1s;
}

.infinite-scroll:hover {
  transform: scale(1.001) translateY(-0.05em);
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.25);
}

@media only screen and (min-width: 1100px) {
  .infinite-scroll {
    width: calc(40% - 2vw);
    margin-bottom: 5rem;
  }
}

.infinite-scroll::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: #ff6565;
  -webkit-box-shadow: inset 0 0 6px rgba(15, 15, 15, 0.5);
}

.infinite-scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(15, 15, 15, 0.38);
  border-radius: 1rem;
  background-color: #fff;
}

.infinite-scroll::-webkit-scrollbar {
  width: 1.5rem;
}

.infinite-scroll:first-child {
  margin-right: 1vw;
}

.infinite-scroll:last-child {
  margin-left: 1vw;
}

.infinite-scroll__wrapper {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  width: 100%;
}

.infinite-scroll__heading {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1.65rem;
  font-weight: 600;
}

.comment {
  width: 95%;
  background-color: #fafafa;
  border-radius: 1rem;
  margin: 1rem 1rem;
}

.comment__text {
  max-width: 90%;
  margin: 0 auto;
  text-align: left;
  margin-bottom: 2rem;
  margin-top: 1rem;
  font-size: 1.5rem;
  text-align: center;
}

.comment__sentiment {
  font-weight: 600;
  font-size: 2rem;
  font-style: italic;
  margin-bottom: 1rem;
}

.bubblechart {
  width: 95%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 1.5rem;
  margin-bottom: 10vh;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  transition: all .1s;
}

@media only screen and (min-width: 1100px) {
  .bubblechart {
    width: calc(90% - 2vw);
    min-width: 50%;
  }
}

@media only screen and (min-width: 1400px) {
  .bubblechart {
    width: calc(70% - 2vw);
    min-width: 50%;
  }
}

.bubblechart:hover {
  transform: scale(1.001) translateY(-0.05em);
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.25);
}

.bubblechart__select-menue {
  margin-top: 1.5rem;
}

.bubblechart__difficulty-select {
  cursor: pointer;
  background: none;
  border: none;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  width: fit-content;
  padding: 0;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
  padding: .5rem;
  transition: all .1s;
  border-bottom: 0px solid #0f0f0f;
}

.bubblechart__difficulty-select--selected {
  font-weight: 600;
  border-bottom: 2px solid #0f0f0f;
}

.tooltip {
  font-size: 1.5rem;
}

svg circle, svg text {
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */