@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;600;800;900&display=swap');

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // Defines 1 Rem
    font-size: 62.5%; // = 16px
    font-family: $open-sans;
    background-color: $color-grey-light-1;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
}