$color-white: #fff;
$color-black: rgb(15, 15, 15);
$color-grey-light-1: #f5f5f6;
$color-grey-light-2: #22222270;
$color-grey-light-3: #fafafa;
$color-grey-dark-1: rgb(143, 143, 143);
$color-primary-red: #cc0000;
$color-thumbnail: #ff6565;
$color-secondary-green: #36B359;
$small-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
$big-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
$raleway: 'Raleway', sans-serif;
$open-sans: 'Open Sans', sans-serif;
$paytone: 'Paytone One', sans-serif;
$border-radius-max: 1.5rem;
$border-radius-medium: 1rem;